.navLinks {
  justify-content: flex-start;
  font-family: 'Saira', sans-serif;
  font-size: 15px;
  color: white;
  align-items: center;
}

.navLinksTwo {
  font-size: 15px;
  justify-content: flex-end;
  color: white;
  align-items: center;
}

.centeredLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Saira', sans-serif;
  display: block;

  text-align: center;
}

.NavMain {
  background: black;
  color: white;
}


.Card {
  padding: 14px;
  border-radius: 10px;
}